<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAROG2DEY9ooV26F1oSwjhdiF5kkzVWCw</string>
	<key>GCM_SENDER_ID</key>
	<string>204561008176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tinhvu.cycle-sharing.dev</string>
	<key>PROJECT_ID</key>
	<string>cs-dev-34127</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-dev-34127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204561008176:ios:19f6f3b3eaaf4d08670ff5</string>
</dict>
</plist>